<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test3">
        <activity
            android:name=".testCameOpne"
            android:exported="false" />
        <activity
            android:name=".Capture"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CreateFolder"
            android:exported="false" />
        <activity
            android:name=".PasswordChange2"
            android:exported="false" />
        <activity
            android:name=".PaswordsChange"
            android:exported="false"/>
        <activity
            android:name=".JiBunGamen5"
            android:exported="false"
            android:parentActivityName=".JiBunGamen4" />
        <activity
            android:name=".JiBunGamen4"
            android:exported="false"/>
        <activity
            android:name=".NinSyouGamen"
            android:exported="false" />
        <activity
            android:name=".PasswordSettei"
            android:exported="false" />
        <activity
            android:name=".hakkenGamen2"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".RenrakuSakiGamen2"
            android:exported="false" />
        <activity
            android:name=".RenrakusakiFragmentGamen3"
            android:exported="false" />
        <activity
            android:name=".ChatGamen_3"
            android:exported="false"/>
        <activity
            android:name=".MessagerActivity"
            android:exported="false" />
        <activity
            android:name=".AcountSakuSeiGamen"
            android:exported="false" />
        <activity
            android:name=".AcountNinSyou"
            android:exported="false" />
        <activity
            android:name=".MiTouRoku"
            android:exported="false" />
        <activity
            android:name=".ManHinhCho"
            android:exported="false" />
        <activity
            android:name=".FragmentNavigationBar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.test3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_pat" />
        </provider>
    </application>

</manifest>